/* start all document style*/

body{

  margin: 0 auto;
  background-color:#D3D3D3;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}
/* the end of all document style*/
/*start header style*/
body > header{
  background-color: #000;
  position: fixed;
  width: 100%;
}
body >header .container{
  display: flex;
  justify-content: space-between;
}

body > header .logo{
  width: 48px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
body > header .logo img{
height: 48px;
width: 54px;
}
body > header nav .burger-btn{
  display: none;
  outline: none;
}
body > header nav{
  height: 53px;
}

body > header ul{
  list-style-type: none;

}
body > header ul li{
  float: left;
  display: inline-block;
}
body > header ul li a{
  width: 40px;
  margin-right: 5px;
  padding: 18px 14px;
  text-decoration: none;
  color:#fff;
  height: 53px;

}
body > header ul li a:hover{
  background-color: #db6565;

}

/*tne end of header style*/
/* mobile navegation with maxWidth(771px)*/
@media screen and (max-width:768px){
  body > header nav .burger-btn{
    display: block;
  }
header nav:not(.active) .list-nav {
  display: none;
}
header nav .burger-btn{
  width: 55px;
  display: block;
  background:none;
  border:none;
  margin: 14px 0;

}
header nav .list-nav{
  position: absolute;
  right:0;
  top: 100%;
  margin: 0;
  padding: 0;
  width: 220px;
  text-align: center;
  color :#000 ;

}
header nav .list-nav .list-item{
display:block;
margin-left:0px;
background-color: #444;
margin-bottom: 0;
width: 100%;
text-align: center;
color: #000;

}
body > header ul li a{
  width: 100%;
  border-bottom: 1px solid red;
  font-size: 25px;
}
body > header ul li:last-child a{
  border-bottom: none;
}
header nav .list-nav .list-item:hover,
header nav .list-nav .list-item:hover .active{
  background-color:red;
}
header nav .list-nav .list-item a{
  display: block;
  padding: 7px;
}
header nav .list-nav .list-item div{
  display: block;
  height: 2px;
  width:220px;
  background-color: red;
}
header nav li:last-child{
margin-left:0px;
}
header nav .burger-btn .icon-line {
    background-color: #db6565;
    height: 3px;
    display:block;
    margin-bottom: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
header nav .burger-btn .icon-line:last-child{
margin-bottom: 0;
}
}
/*the end of media query*/
/*start About style*/
#about-us {
  width: 100%;
  min-height: 600px;
  /*background-image:url(../img/homeBackground.jpg);*/
  background-image:linear-gradient(rgba(252,60,60,0.81),
  rgba(252,60,60,0.81)),
  url(../img/homeBackground.jpg);
  background-size: cover;
  padding-top: 60px;
}
#about-us .container{
  text-align: center;
  padding-top: 150px;
}
#about-us .container .about-us-content{
  text-align: center;
  width:75%;
  display: inline-block;
  min-height:200px;
  color: #000;
  font-size: 45px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px #ff0000;

}

/*the end of About style*/

    box-sizing: border-box

}
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/*Star My info */
.our-team {
  width: 100%;
    padding: 50px 0;
    /*background:url('../img/kgdf.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.our-team h2 {
  color: #A52A2A;

  font-family: 'Courgette', cursive;
      font-size: 250%
    margin: 10px 0 40px;
    margin-bottom: 30px ;
    text-align: left;

     color: #A52A2A;
     font-family: 'Courgette', cursive;
         font-size: 250%

}
.our-team .container{
  margin :0 auto;
  padding : 50px 0 ;


}

.our-team .the-team .person {
    text-align: center;
    float: left;

    width: 23%;
    margin-right: 2px;

    margin-left: 1%;
    color: #888
}


.our-team .the-team .person .upper{
  font-family: 'Berkshire Swash', cursive;
  color: #A52A2A;

}

.our-team .the-team .person .fa-facebook {
    background-color: #3b5998
}

.our-team .the-team .person .fa-twitter {
    background-color: #55acee
}

.our-team .the-team .person .fa-google-plus {
    background-color: #dc4e41
}
.our-team .the-team .person .fa-youtube{
    background-color: #dc4e41
}


.our-team .the-team .person img {
      margin: auto;
      width: 250px;
      height: 250px;
      border: 1px solid #ddd;
      border-radius: 20%;
      padding: 5px ;

}

.our-team .the-team .person p {
    font-size: 20px;
    text-align: center;
    font-family: 'Kalam', cursive;
    color: #000;


}

.our-team .the-team .social-icons i {
  text-align: center;
    background-color: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    border-radius: 50%;

}



@media (max-width:550px) {
    .our-team .the-team .person {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media(max-width:1110px)and (min-width:551px) {

.our-team .the-team .person {
        width: 48%;
        margin-bottom: 25px;
      }

}
/* End My info */
/* Start My skills */
.my-skills {
    padding-top: 30px ;
    padding-bottom: 2px ;
    overflow: hidden ;
    text-align: left;

}

.my-skills .skills ,
.my-skills .progress {
    width: 48% ;
    float: left ;

}

.my-skills .skills h2{
    margin: 50px 0 20px 40px ;
    color: #A52A2A;
    font-family: 'Courgette', cursive;
        font-size: 250%
}
.my-skills .skills p{
    margin: 0 0 10px 40px;
    color: #000;
    font-size:150%;
    font-family: 'Kalam', cursive;

}
.about-me .info > p:last-of-type{
      margin: 60px 0 10px 40px;
}
.my-skills .skills button{
    margin-top: 50px ;
    margin-left: 100px;

}
.my-skills .progress .technique {
  margin-left: 50px
 }
.my-skills .progress .technique h3{
    color: #A52A2A ;
    margin: 50px 0 20px 40px
}
.my-skills .progress .technique div{
    background-color: #A52A2A;
    : 30px
}
.my-skills .progress .technique div span{
    background-color: #000000;
    width:50% ;
    height: 25px;
    display: block ;
    line-height: 25px;
    text-align: center ;
    color: #A52A2A ;
    font-weight: bold

}
/* End My skills */



#contact-me{
  padding: 2.5em 0 3em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

h2.major{
  color: #A52A2A;
  font-family: 'Courgette', cursive;
  font-size: 250%;
  padding-bottom: 1em;
  border-bottom: solid 2px rgb(205, 239, 210);
}


#contact-me h2{
  color: #000;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 0 0.3em 0;
  text-transform: uppercase;
  width: 100%;
}


#contact-me p {
  color: #000;
  font-size:150%;
  font-family: 'Kalam', cursive;

  font-weight: 100;
  font-family: 'Indie Flower', cursive;
}
form.felid{    color: #000;
    font-size:150%;
    font-family: 'Kalam', cursive;
  margin: 2.5em 0 2em 0;
  padding: 0 0 0 3.25em;
}

form .field:first-child label {
    margin-top: 0;
}

label{
  color: #000;
  display: block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  text-transform: uppercase
}
#name , #email{
  background: rgba(24, 199, 58, 0.24);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(146, 20, 129, 0.125);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  height: 2.5em;
  margin-bottom: 0.6em;
}

textarea{
  background: rgba(24, 199, 58, 0.24);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(146, 20, 129, 0.125);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0.75em 1em;
  text-decoration: none;
  width: 100%;
  margin-bottom: 0.6em;
}

#name:focus,#email:focus,textarea:focus{
  border: solid 2px rgba(39, 150, 43, 0.68);
}

.send-btn{
  color: #A52A2A;
  margin-top: 1 auto.5em;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgb(196, 214, 200);
  font-family: 'Kalam', cursive;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0em;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 1.5em;
}
.send-btn:hover{
  background-color: #17862c9e;
  transition: 0.5s;
}

.contact ul li:first-child{
  margin-top: 0px;
  color: #000;
  font-size:100%;
  font-family: 'Kalam', cursive;
}
.contact ul li{
  color: #000;
  font-size:100%;
  font-family: 'Kalam', cursive;
  list-style : none;
  margin: 2.65em 0 0 0;
  padding: 0 0 0 3.5em;
  position: relative;

}
.formAndcontact{
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 4em;
}
.form{
  flex: 1;
}
.contact{
  width: 50%;
  margin-left: 3em;
  margin-top: -15px;
}

.contact ul li i::before{
  border-radius: 100%;
  border: solid 2px rgb(205, 239, 210);
  display: inline-block;
  font-size: 0.8em;
  height: 2.5em;
  left: 0;
  line-height: 2.35em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}
.contact ul li a{
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 2px rgb(126, 199, 136);
  color: #000;
  text-decoration: none;
}
.contact ul li a:hover{
  border-bottom-color: transparent;
  color: #000 !important;
}
.fa {
  margin-top: 22px;
}


/* Start  Footer Section */

.footer .copyright {
  background:#111;
  padding-top:10px ;
    color:#AAA;
    padding:15px 0;
    margin-top:30px;
    font-size:18px;
    width: 100%;
    text-align: center;
}

/* End Ultimate Footer Section */


@media screen and (max-width :768px) {

  .contact ul{
    padding-left: 0px;
    padding-top: 2em;
  }

  .formAndcontact{
    display: block;
  }

 #contact-me.container{
    margin-left: 10px;
    padding-left: 10px;
  }
  #name,#email,textarea{
    width: 94%
  }
  #contact-me h2{
      width: 98%;
  }
  p{
      width: 94%
  }
  footer{
    width: 94%;
  }
  .contact{
    width: 100%;
    margin-left: 0em;
    margin-top: 0px;
  }
  .my-skills .skills{
    width: 100%;
  }
  .my-skills .progress {
    float: none;
    width: 95%;
  }
}

@media only screen
and (min-width : 768px)
and (max-width : 1060px) {
  #contact-me.container{
    padding-left: 1%;
  }
}
